* {
    box-sizing: border-box;
   

}
h1 {
    margin: 25px;
    text-align: center;
    font-size: 2em;
}

div div {
    
    border:solid 1px black;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: lightgray;
    margin: 20px;
    height: 150px;
    
    
    

}
p{
    clear: both;
    margin: 5px;
}

h2{
    margin: 0;
    margin-bottom: 15px;
}
.card-title{
    float:right;
    border: solid black 1.5px;
    border-bottom-left-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 125px;
    text-align: center;
    font-size: 1.25em;
    

}
#chicken {
    background-color: #edd59e;
    color: black;

}
#beef {
    background-color: #9c4722;
    
}
#sushi{
    background-color: #006B54;
    
}
.row {
    width: 100%;
    
}
/* responsive css*/

@media (min-width: 992px){
    .col-lg-1 {
        width: 33.33%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-med-1, .col-med-2{
    float: left;
}

    .col-med-1{
        width: 50%;

    }
    .col-med-2{
        width: 100%
    }
}
@media (max-width: 767px) {
    .col-sm-1{
        float:left;
        width: 100%;
}
}
